// Vars
// Container
@font: 'Vazir', 'Roboto', Tahoma;
@support-color: #f32b1b;
@main-color: #fff;
@error-color: #f32b1b;

// Overlay
@overlay-opacity: 0.47;

// Animations
@animation-duration: .5s;
@animation-in: begiresh-fadeIn;
@animation-out: begiresh-fadeOut;

.bedesh-show{
  .bedesh{
    display: block;
    .comeIn}
}

.comeIn{
  animation-duration: @animation-duration;
  animation-name: @animation-in;
  animation-fill-mode: both;
}
.goOut{
  animation-duration: @animation-duration;
  animation-name: @animation-out;
  animation-fill-mode: both;
}

.bedesh{
  display: none;
  font-family: @font;
  position: fixed;
  top: 0; bottom: 0;
  right: 0; left: 0;
  z-index: 3000;
  text-align: center;
  direction: rtl;
  .bedesh-overlay{
    background-color: rgba(0, 0, 0, @overlay-opacity);
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 3001}
  .bedesh-container{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0; bottom: 0;
    right: 0; left: 0;
    margin: auto;
    z-index: 3002;
    .bedesh-header{
      background-color: @support-color;
      border-radius: 0 0 30px 0;
      padding: 36px;
      img{
        width: 100%; height: auto;
        path{fill: white}
      }
    }
    .bedesh-body{
      background-color: @main-color;
      position: relative;
      text-align: right;
      padding: 30px 36px 36px;
      border-radius: 0  30px 0 0;
      form{
        position: relative;
        &:before, &:after{
          display: table;
          content: " ";
          clear: both}
        p{
          font-size: 13px;
          font-weight: 500;
          margin: 0 0 13px}
        input{
          font-family: @font;
          font-size: 12px;
          line-height: 2;
          padding: 12px;
          border: none;
          float: right;
          position: relative;
          height: 50px;
          outline: none !important;
          &[type="submit"]{
            background-color: @support-color;
            color: @main-color;
            width: 27%;
            transition: 200ms;
            cursor: pointer;
            &:hover{background: darken(@support-color, 10)}
            &::-moz-focus-inner{border: 0}
          }
          &[type="email"]{
            background-color: darken(@main-color, 7);
            text-align: right;
            color: black;
            width: 73%}
        }
      }
      .bedesh-error{
        color: @error-color;
        font-size: 12px;
        font-weight: 300;
        margin: 12px 0 -12px;
        display: block}
    }
  }
}

@keyframes begiresh-fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
@keyframes begiresh-fadeOut {
  from {opacity: 1}
  to {opacity: 0}
}
