// Vars
// Container
@font: 'Vazir', 'Roboto', Tahoma;
@support-color: #f32b1b;
@main-color: #fff;

// Overlay
@overlay-opacity: 50;

// Animations
@container-duration: .5s;
@container-animation: begiresh-fadeIn;
@overlay-duration: .5s;
@overlay-animation: begiresh-fadeIn;

.bedesh-show{
	.bedesh{display: block}
}

.bedesh{
  display: none;
  font-family: @font;
  position: fixed;
  top: 0; bottom: 0;
  right: 0; left: 0;
  z-index: 3000;
  text-align: center;
  animation-duration: @container-duration;
  animation-name: @overlay-animation;
  animation-fill-mode: both;
  .bedesh-overlay{
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    z-index: 3001;
    animation-duration: @overlay-duration;
    animation-name: @overlay-animation;
    animation-fill-mode: both;
  }
  .bedesh-container{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0; bottom: 0;
    right: 0; left: 0;
    margin: auto;
    z-index: 3002;
    .bedesh-header{
      background-color: @support-color;
      border-radius: 0 0 30px 0;
      padding: 36px;
      img{
        width: 100%; height: auto;
        path{fill: white}
      }
    }
    .bedesh-body{
      background-color: @main-color;
      position: relative;
      text-align: right;
      padding: 30px 36px 36px;
      border-radius: 0  30px 0 0;
      form{
        position: relative;
        &:before, &:after{
          display: table;
          content: " ";
          clear: both}
        p{
          font-size: 13px;
          font-weight: 500;
          margin: 0 0 13px}
        input{
          font-family: @font;
          font-size: 12px;
          line-height: 2;
          padding: 12px;
          border: none;
          float: right;
          position: relative;
          height: 50px;
          outline: none !important;
          &[type="submit"]{
            background-color: @support-color;
            color: @main-color;
            width: 27%;
            transition: 200ms;
            cursor: pointer;
            &:hover{background: darken(@support-color, 10)}
            &::-moz-focus-inner{border: 0}
          }
          &[type="email"]{
            background-color: darken(@main-color, 7);
            text-align: right;
            color: black;
            width: 73%}
        }
      }
    }
  }
}

@keyframes begiresh-fadeIn {
  from {
    background-color: fade(black, 0);
    opacity: 0;
  }

  to {
    background-color: fade(black, @overlay-opacity);
    opacity: 1;
  }
}
